<div  class="container">
  <div class="row justify-content-center mt-2 mb-4">
    <h1 class="text-center">Listado de Usuarios</h1>
  </div>
  <div class="row justify-content-end mb-4">
    <div class="col-2">
      <button mat-fab color="primary" routerLink="add">
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div *ngFor="let item of users" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2 mt-3">
      <mat-card>
        <mat-card-header class="card-header">
          <h4>ID: {{item.id}}</h4>
        </mat-card-header>
        <mat-card-content>
          <div class="container-fluid">
            <div class="row">
              <p>Nombre: {{item.person.firstName}}</p>
            </div>
            <div class="row">
              <p>Apellido: {{item.person.lastName}}</p>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button>
            <mat-icon>
              edit
            </mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>
              delete
            </mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
